@import "~@patternfly/patternfly/sass-utilities/_all";
$top-bottom-margin-lg: var(--pf-global--spacer--lg) 0;

.ins-c-dashboard-link {
    margin: $top-bottom-margin-lg;

    &:last-child {
        margin-bottom: 0;
    }
}

.pf-c-jump-links__list {
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        flex-direction: row;
    }
}
