.ins-c-collection-desc {
    margin-bottom: var(--pf-global--spacer--md);
}

.ins-c-data-collection {
    width: 70%;
    margin-bottom: var(--pf-global--spacer--sm);
}

.ins-c-collection-card {
    margin-bottom: var(--pf-global--spacer--md);
}
