.ins-c-collection-desc {
    margin-bottom: var(--pf-global--spacer--md);
}

.ins-c-data-collection {
    max-width: 70%;
    margin: 0 auto var(--pf-global--spacer--sm) auto;
}

.ins-c-collection-card {
    height: 100%;
}
