.ins-c-card {
    width: 70%;
    margin: var(--pf-global--spacer--md) 0;
}

.ins-c-cardNumber {
    padding-top: var(--pf-global--spacer--lg);
    padding-left: var(--pf-global--spacer--lg) ;
    color: var(--pf-global--palette--red-100);
    font-size: var(--pf-global--icon--FontSize--md);
    display: inherit;
    font-weight: var(--pf-global--FontWeight--bold);
}

.pf-c-card__title {
    padding-bottom: 0 !important;
}