@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all.scss";
@import "../../App.scss";

.ins-c-dashboard-link {
    margin: $top-bottom-margin-lg;
}

.ins-c-center-text {
    text-align: center;
    margin: 0 auto;
    max-width: 84%;
}
