// Importing Global Variables
@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";

$top-bottom-margin-lg: var(--pf-global--spacer--lg) 0;

.ins-c-title {
    margin: $top-bottom-margin-lg;
    font-weight: var(--pf-global--FontWeight--bold) !important;
}

.ins-c-flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;

    .ins-c-flex-center__text {
        width: 650px;
        text-align: center;
    }
}

.pf-c-card{
    margin-top: 0 !important;
}

.faq-card {
    width: 70%;
    background-color: var(--pf-global--BackgroundColor--100);
    margin-top: var(--pf-global--spacer--xl) !important;
    padding: var(--pf-global--spacer--xl);

    h2 {
        font-size: xx-large;
        margin-top: var(--pf-global--spacer--md);
        margin-bottom: var(--pf-global--spacer--sm);
    }

    h3 {
        font-size: x-large;
        margin-bottom: var(--pf-global--spacer--sm);
    }

    p {
        margin-bottom: var(--pf-global--spacer--md);
    }

    ul {
        list-style-type: disc;
        padding-left: 2em;
        margin-bottom: var(--pf-global--spacer--md);
    }
}
