// Importing Global Variables
@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";

$top-bottom-margin-lg: var(--pf-global--spacer--lg) 0;

.ins-c-title {
    margin: $top-bottom-margin-lg;
}

.ins-c-flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;

    .ins-c-flex-center__text {
        width: 650px;
        text-align: center;
    }
}
