// Importing Global Variables
@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@patternfly/patternfly/utilities/Alignment/alignment.scss";
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";

$top-bottom-margin-lg: var(--pf-global--spacer--lg) 0;

.ins-c-title {
    margin: $top-bottom-margin-lg;
    font-weight: var(--pf-global--FontWeight--bold) !important;
}

.ins-c-flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;

    .ins-c-flex-center__text {
        width: 650px;
        text-align: center;
    }
}

.pf-c-card{
    margin-top: 0 !important;
}

.faq-card {
    background-color: var(--pf-global--BackgroundColor--100);

    h2 {
        font-size: xx-large;
        margin-top: var(--pf-global--spacer--md);
        margin-bottom: var(--pf-global--spacer--sm);
    }

    h3 {
        font-size: x-large;
        margin-bottom: var(--pf-global--spacer--sm);
    }

    p {
        margin-bottom: var(--pf-global--spacer--md);
    }

    ul {
        list-style-type: disc;
        padding-left: 2em;
        margin-bottom: var(--pf-global--spacer--md);
    }
}

$ins-c-width-limiter--breakpoint-map: build-breakpoint-map();

.ins-c-width-limiter {
    --ins-c-width-limiter--MaxWidth: auto;

    @include pf-build-css-variable-stack(
        "max-width",
        "--ins-c-width-limiter--MaxWidth",
        $ins-c-width-limiter--breakpoint-map
    );
}

// Move to frontend-components
.ins-c-marketing-page {
    --ins-m-marketing-page--RowGap: var(--pf-global--spacer--xl);
    --ins-m-marketing-page--ColumnGap: var(--pf-global--spacer--xl);
    --ins-m-marketing-page--section--PaddingTop: var(--pf-global--spacer--xl);
    --ins-m-marketing-page--section--PaddingRight: var(--pf-global--spacer--2xl);
    --ins-m-marketing-page--section--PaddingBottom: var(--pf-global--spacer--xl);
    --ins-m-marketing-page--section--PaddingLeft: var(--pf-global--spacer--2xl);

    .ins-l-autofit {
        --ins-l-autofit--m-gutter--RowGap: var(--ins-m-marketing-page--RowGap);
        --ins-l-autofit--m-gutter--ColumnGap: var(--ins-m-marketing-page--ColumnGap);
    }

    .pf-c-page__main-section:not([class*="pf-m-sticky"])  {
        --pf-c-page__main-section--PaddingTop: var(--ins-m-marketing-page--section--PaddingTop);
        --pf-c-page__main-section--PaddingRight: var(--ins-m-marketing-page--section--PaddingRight);
        --pf-c-page__main-section--PaddingBottom: var(--ins-m-marketing-page--section--PaddingBottom);
        --pf-c-page__main-section--PaddingLeft: var(--ins-m-marketing-page--section--PaddingLeft);
    }

    .ins-c-marketing-banner {
        --ins-c-marketing-banner--PaddingTop: var(--pf-global--spacer--2xl);
        --ins-c-marketing-banner--PaddingBottom: var(--pf-global--spacer--2xl);
    }

    .pf-l-grid {
        --pf-l-grid--m-gutter--GridGap: var(--pf-global--spacer--xl);
    }
}

.ins-c-page-header {
    .pf-c-content {
        .pf-c-title {
            --pf-c-content--h1--MarginBottom: var(--pf-global--spacer--lg);
        }
    }
}

.pf-c-page__anchor {
    position: relative;
    top: calc((64px + var(--ins-m-marketing-page--section--PaddingTop)) * -1); // masthead height p + jump links height
    visibility: hidden;
}

.ins-c-content-section {
    & + & {
        padding-top: calc(var(--ins-m-marketing-page--section--PaddingTop) * 2);
    }
}

.pf-c-page__main {
    scroll-behavior: smooth;
}

.pf-l-grid > ul {
    display: inherit;
}
